.timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
.timer span{
    display: block;
}

.btn{
    background: #1687a7;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    margin: 20px;
}